body {
   background-color: beige;
}

h1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 36pt;
   color: maroon;
}

h2 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20pt;
   color: sienna;
}

h3 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18pt;
   color: midnightblue;
}

p {
   text-indent: 2em;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
}

li:first-child {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: darkolivegreen;
}